.appleIdVertical {
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  row-gap: 20px;
  padding: 20px;
}
.appleIdVerticalLogo {
  background-color: grey;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: none;

}
.appleIdVerticalLogo img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: none;
}
#name{
  font-size: 28px;

}
#description{
  font-size: 18px;
}