.innerComponant3 {
    margin: 0px 10px;
    padding: 10px;
  }
  .logoinner3 {
    background-color: grey;
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 80px;
  }
  .logoinner3 img {
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 28%;
  }
  .topinnercomponent3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
  }
  .topLeft{
    display: flex;
    column-gap: 11px;
  }
  hr{
    margin-top: 10px;
    margin-left: 25px;
    border-color: grey;
  }
  